/DNP3Java/target
/DNP3Java/src
/DNP.ncb
/DNP.suo
/*/Debug
/*/Release
*.user
/*/pc_cygwin
/*/pc_linux_arm
/tools/install_scripts/boost/*/temp
/CSToCppXMLBinder/bin
/CSToCppXMLBinder/obj
/ConfigurationBuilder/*.cs
/ConfigurationBuilder/*.xsx
/TestSet/*.xml
/DNP3Java/JavaDNP3.*
/DNP3Java/jar
*.log
/*/Linux_i686
